* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-background: rgb(36, 36, 36);
    --dark-color: rgb(212, 212, 212);
    --dark-header-color: rgb(0, 128, 0);
    --not-dark-background-color: rgb(130, 0, 130);
}
body {
    max-width: 100vw;
    width: 100%;
    background-color: bisque;
    color: var(--dark-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
header {
    max-width: 100vw;
    width: 100%;
    background-color: var(--not-dark-background-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--dark-color);
}
a {
    text-decoration: none;
}

.focim {
    font-size: 3rem;
    width: 100%;
    padding: 1rem;
}

menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menucim {
    display: none;
}

.menugomb {
    display: none;
}

menu ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
menu ul li {
    width: 100%;
    list-style: none;
    margin: 0 10px;
    color: var(--dark-color);
    text-decoration: none;
}

.menugomb svg{
    height: 3em;
}

#darkmode-btn {
    border: none;
    background-color: var(--dark-header-color);
    color: var(--dark-color);
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

section {
    width: 90%;
    padding-top: 2rem;
}

hr {
    border: none;
    border-top: 2px solid var(--dark-background);
}

sections {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

h2 {
    border-bottom: 2px solid var(--dark-background);
}
.varosi, .vargha {
    width: fit-content;
}
.kapcsolat-nev {
    border-bottom: 2px solid var(--dark-background);
}

.dark-mode {
    background-color: var(--dark-background);
    color: var(--dark-color);
}

.dark-header {
    background-color: var(--dark-header-color);
    color: var(--dark-color);
}

.dark-darkmode-btn {
    background-color: var(--not-dark-background-color);
}