{%extends 'base.html'%}
{%block title%}
    Rólunk
{%endblock%}

{%block content%}
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi earum itaque quia id sed, incidunt sunt numquam doloribus laborum suscipit asperiores ex, perferendis quam pariatur aliquam ipsum enim optio dolorum, voluptate assumenda eius modi. Quis modi repellendus maiores? Corrupti consectetur sapiente eum nisi maxime nesciunt asperiores reprehenderit distinctio eveniet, repudiandae mollitia suscipit at reiciendis recusandae earum fugit accusamus quia. Nobis deserunt dolor ullam odit facere consequatur tempora corporis culpa accusamus quasi aut, deleniti quod, necessitatibus laudantium earum enim quis in ipsum itaque reiciendis recusandae! Porro nobis ipsum quis modi, adipisci dolores dolor, cupiditate sed velit vero magnam officia recusandae.

    <a href="{{url_for('program')}}"><button>Kattints a programra</button></a>
{%endblock%}